*{
	padding: 0px;
	margin:0px;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.7em;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
}
img{
	max-width:100%;
	height:auto;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.container{
	width:1140px;
	margin: 0px auto;
}
.row{
	width:100%;
	float:left;
}
.col-6{
	width:50%;
	float:left;
}

.col-4{
	width:33.3%;
	float: left;

}
.col-12{
	width:100%;
	float: left;

}
.header{
	width:100%;
	float: left;

	padding:10px 0px ;
	border-bottom: 1px solid #eee;
}
.header .menu{
	display: block;
	width: 100%;
	text-align: right;


}
.header .menu li{
	list-style: none;
	display:inline-block;
}
.header .menu li a{
	display: block;
	margin: 12px 0px 0px 20px;
	font-size: 14px;
	font-weight: 500;
	color:#0F2656;

}
.header .menu li a:hover{
	color: #0087FF;
}
.banner{
	width: 100%;
	float:left;
	padding: 80px 0px;
	text-align: center;
}
.banner h1{
	font-size: 54px;
	line-height: 1.2em;
	color:#0F2656;

}
.banner h1 span{
	color:#0087FF;


}
.banner p{
	font-size: 14px;
	line-height: 1.7em;
	color:#0F2656;
	margin:0px 0px 10px;


}
.banner .banner-img{
	width: 60%;
	margin: 10px 0px 0px;

}
.successful{
	width: 100%;
	padding:80px 0px 0px;
	float: left;
}
.successful-left{
	width:100%;
	float: left;
	text-align: right;


}
.successful-left h1{
	font-size: 54px;
	line-height: 1.2em;
	color: #F15767;
	margin:0px 15px 10px 0px;
	
}
.successful-left p{
	font-size: 14px;
	line-height: 1.7em;
	color: #0F2656;

	margin:0px 15px 10px 0px;

}
.successful-right{
	width:100%;
	float: left;



}
.successful-right h1{
	font-size: 54px;
	line-height: 1.2em;
	color: #0F2656;
	margin:0px 0px 0px 15px;
	
	
}
.feature{
	width:100%;
	float: left;
	padding: 40px 0px 120px;

}
.inner-feature{
	width: 72%;
	float: left;
	padding: 60px 40px;
	margin:0px 18px ;
	
}
.inner-feature img{
	width: 100%;
	height: 170px;
	margin:0px 10px;
}
.inner-feature h4{
	font-size: 18px;
	line-height: 1.2em;
	color: #0F2656;
	margin:0px 0px 10px ;
}
.inner-feature p{
	font-size: 14px;
	line-height: 1.7em;
	color: #0F2656;

}

.bg1{
	background: #FDEBED;
}

.bg2{
	background: #E9F6F3;
}

.bg3{
	background:#FFF7E8;
}
.footer{
	width:100%;
	float: left;
	padding: 20px 0px;
	background: #0087FF;
	text-align: center;
}
.footer p{
	font-size: 14px;
	line-height: 1.7em;
	color: #C2E3FF;


}
.footer a{
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	color:#fff;
}


/* Css media query goes here */

@media (min-width:279px) and (max-width:319px){
/* Css start	*/
.container{
	width:90%;
	margin:0px auto;

}

.col-6{
	width:100%;
	float:left;
}

.col-4{
	width:100%;
	margin: 0px auto;
}
.row{
	width:100%;
	float:left;
}
.col-12{
	width:100%;
	float: left;
	
}

.logo{
	display: block;
	width: 100%;
	text-align: center;
}
.header .menu{
	text-align: center;
}
.header .menu li a{
	font-size: 10px;
	margin:0px 5px 0px 5px;
	
}
.banner{
	padding:30px 0px;
}
.banner h1{
	font-size: 20px;

}
.banner p{
	font-size: 10px;
	
}
.successful{
	padding:30px 0px;
}
.successful-left{
	text-align: center;

}
.successful-left h1{
	font-size: 26px;
}
.successful-left p{
	font-size: 12px;
}
.successful-right h1{
	text-align: center;
}
.successful-right h1{
	font-size: 26px;
	margin: 20px 0px 0px;
}

.feature{
	padding: 30px 0px;

}
.inner-feature{
	width:68%;
	margin: 0px 0px 20px;
}

.inner-feature h4{

	font-size: 16px;
	
	
}
.inner-feature p{

	font-size: 12px;
	
	
}

.footer p{
	font-size: 6px;
}



/* Css End */

}



@media (min-width:320px) and (max-width:480px){
/* Css start	*/
.container{
	width:90%;
	margin:0px auto;

}

.col-6{
	width:100%;
	float:left;
}

.col-4{
	width:100%;
	float:left;

	
}
.row{
	width:100%;
	float:left;
}
.col-12{
	width:100%;
	float: left;
	
}

.logo{
	display: block;
	width: 100%;
	text-align: center;
}
.header .menu{
	text-align: center;
}
.header .menu li a{
	margin:0px 6px 0px 6px;
}
.banner{
	padding:30px 0px;
}
.banner h1{
	font-size: 26px;

}
.banner p{
	font-size: 16px;
	
}
.successful{
	padding:30px 0px;
}
.successful-left{
	text-align: center;

}
.successful-left h1{
	font-size: 26px;
}
.successful-left p{
	font-size: 17px;
}
.successful-right h1{
	text-align: center;
}
.successful-right h1{
	font-size: 26px;
	margin: 20px 0px 0px;
}

.feature{
	padding: 30px 0px;

}
.inner-feature{
	width:78%;
	margin: 0px 0px 20px;
}

.footer p{
	font-size: 10px;
}



/* Css End */

}

@media (min-width:481px) and (max-width:767px){
/* Css start	*/
.container{
	width:90%;
	margin:0px auto;

}

.col-6{
	width:100%;
	float:left;
}

.col-4{
	width:100%;
	float:left;

	
}
.row{
	width:100%;
	float:left;
}
.col-12{
	width:100%;
	float: left;
	
}

.logo{
	display: block;
	width: 100%;
	text-align: center;
}
.header .menu{
	text-align: center;
}
.header .menu li a{
	margin:0px 10px 0px 10px;
}
.banner{
	padding:30px 0px;
}
.banner h1{
	font-size: 26px;

}
.banner p{
	font-size: 14px;
	margin:10px 0px;
	
}
.successful{
	padding:30px 0px;
}
.successful-left{
	text-align: center;

}
.successful-left h1{
	font-size: 28px;
}
.successful-left p{
	font-size: 13px;
}
.successful-right h1{
	text-align: center;
}
.successful-right h1{
	font-size: 26px;
	margin: 20px 0px 0px;
}

.feature{
	padding: 30px 0px;

}
.inner-feature{
	width:80%;
	
    margin: 5px 10px 20px 10px;
}
.inner-feature img {
    width: 100%;
    height: 200px;
    margin: 10px 20px;
}
.inner-feature h4 {
	text-align: center;
 
    margin: 20px 0px 15px;
}
.inner-feature p {
    font-size: 15px;
    text-align: center;
}

.footer p{
	font-size: 14px;
}




/* Css End */

}

@media (min-width:768px) and (max-width:1024px){
/* Css start	*/
.container{
	width:90%;
	margin:0px auto;

}

.col-6{
	width:100%;
	float:left;
}

.col-4{
	width:100%;
	float:left;

	
}
.row{
	width:100%;
	float:left;
}
.col-12{
	width:100%;
	float: left;
	
}

.logo{
	display: block;
	width: 100%;
	text-align: center;
}
.header .menu{
	text-align: center;
	font-size: 16px;
}
.header .menu li a{
	margin:0px 10px 0px 10px;
}
.banner{
	padding:30px 0px;
}
.banner h1{
	font-size: 26px;

}
.banner p{
	font-size: 16px;
	
}
.successful{
	padding:30px 0px;
}
.successful-left{
	text-align: center;

}
.successful-left h1{
	font-size: 26px;
}
.successful-left p{
	font-size: 17px;
}
.successful-right h1{
	text-align: center;
}
.successful-right h1{
	font-size: 26px;
	margin: 20px 0px 0px;
}

.feature{
	padding: 30px 0px;

}
.inner-feature{
	width:91%;
	margin: 0px 0px 20px;
}
.inner-feature img {
    width: 100%;
    height: 200px;
    margin: 10px 20px;
}
.inner-feature h4 {
	text-align: center;
 
    margin: 20px 0px 15px;
}
.inner-feature p {
    font-size: 15px;
    text-align: center;
}

.footer p{
	font-size: 15px;

}




/* Css End */

}